/* Custom font faces */
@font-face {
    font-family: 'iranyekan-en-number';
    src:  url('../fonts/iranyekan.ttf') format('ttf'),
    url('../fonts/iranyekan.ttf') format('ttf');
}
@font-face {
    font-family: 'iranyekan-fa-number';
    src:  url('../fonts/iranyekan-fa.ttf') format('ttf'),
    url('../fonts/iranyekan-fa.ttf') format('ttf');
}

/* General */
h1,h2,h3,h4,h5,h6,p,b,a,button,ul,ol,li,table,tr,td,label,select,option,textarea,div,
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month],
input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week],
/* Wordpress core */
.wp-core-ui .button, .wp-core-ui .button-secondary,
.wp-core-ui select, .tablenav .actions select,
#wpadminbar .ab-empty-item, #wpadminbar a.ab-item, #wpadminbar>#wp-toolbar span.ab-label,
.tablenav .tablenav-pages, span.display-name, span.username {
    font-family: iranyekan-fa-number !important;
}



/* fix - elementor icons */
#elementor-switch-mode i:before { font-family: eicons !important; }